<!-- nav.html -->
<ul class="nav bg-info px-3 py-2">
    <li class="nav-item d-flex align-items-center">
        <img src="../../assets/img/logo.png" style="width: 180px; margin-top: 15px; margin-bottom: 15px; margin-left: 60px;" alt="Minha Imagem">
    </li>
    <li class="nav-item ms-auto">
        <a class="nav-link link-light" href="../all_airplane/airplanePage.html">Aeronaves</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="../hangar/hangarPage.html">Hangar</a>
    </li>
    <li class="nav-item d-flex align-items-center">
      <i class="bi bi-broadcast" style="color: rgb(230, 20, 20); margin-right: 5px;"></i>
      <a class="nav-link link-light" href="../monitoring/monitoringPage.html">Monitoramento</a>
    </li>
    <li class="nav-item d-flex align-items-center ms-3">
      <div class="dropdown">
          <a href="#" class="d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 40px; height: 40px;" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person" style="font-size: 1.5rem; color: #1E234B;"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="../../index.html">Sair</a></li>
          </ul>
      </div>
  </li>
</ul>


<!-- No seu arquivo principal HTML (por exemplo, airplanePage.html) -->
<script>
    // Função para carregar a barra de navegação a partir de um arquivo HTML
    function loadNavbar() {
        fetch('../../path/to/navbar.html') // Caminho relativo para o arquivo navbar.html
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            })
            .catch(error => console.error('Erro ao carregar a navbar:', error));
    }

    // Chama a função para carregar a navbar quando a página for carregada
    document.addEventListener('DOMContentLoaded', loadNavbar);
</script>

